@{
    ViewData["Title"] = "Strona Główna - SkillMasters";
}

<div class="hero-section">
    <div class="container hero-container">
        <h1>FutureDev – Praktyczna wiedza oraz umiejętności w świecie IT</h1>
        <p class="hero-description">
            FutureDev to społeczność pasjonatów IT, którzy od lat dzielą się wiedzą, prowadzą warsztaty i tworzą materiały edukacyjne online. 
            Naszym celem jest przekazywanie aktualnej i praktycznej wiedzy w sposób zrozumiały 
            dla każdego – niezależnie od poziomu zaawansowania. Chcemy, żeby nauka nowych technologii była przystępna, inspirująca i pełna satysfakcji!
        </p>
        
        <a asp-controller="Course"
           asp-action="Index"
           class="hero-button">
            Zobacz kursy
        </a>
    </div>
</div>

<div class="reasons-section">
    <div class="container reasons-container">
        <h2>Dlaczego warto uczyć się z nami?</h2>
        <ul class="reasons-list">
            <li><strong>Praktyczne podejście</strong> – stawiamy na realne przykłady i projekty oparte na najnowszych trendach w IT.</li>
            <li><strong>Elastyczne formy nauki</strong> – sam decydujesz, kiedy i w jaki sposób się uczysz</li>
            <li><strong>Pasja i doświadczenie</strong> – nasi mentorzy oraz nauczycile mają wieloletnią praktykę w branży oraz doświadcznie poparte licznymi sukcesami </li>
        </ul>
    </div>
</div>

<div id="courses" class="courses-section">
    <div class="container courses-container">
        <h2>Kursy na tej stronie</h2>
        <p class="courses-description">
            Odkryj naszą bogatą ofertę kursów programistycznych, administratorskich, a także z zakresu DevOps 
            i zarządzania projektami. Nasze kursy są tworzone z myślą o różnych poziomach zaawansowania 
            – od zupełnie początkujących, aż po profesjonalistów.
        </p>
    </div>
</div>
