@model Application.DTO.TutorDTO

@{
    ViewData["Title"] = "Dodaj nauczyciela";
}

<div class="form-container">
    <h2 class="form-title">Dodaj nauczyciela</h2>

    <form asp-action="AddTutor" method="post" class="admin-form">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-input" />
            <span asp-validation-for="FirstName" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-input" />
            <span asp-validation-for="LastName" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Specialisation" class="form-label"></label>
            <input asp-for="Specialisation" class="form-input" />
            <span asp-validation-for="Specialisation" class="form-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="AboutMe" class="form-label"></label>
            <textarea asp-for="AboutMe" class="form-input"></textarea>
            <span asp-validation-for="AboutMe" class="form-error"></span>
        </div>

        <button type="submit" class="form-button">Dodaj nauczyciela</button>
    </form>
</div>
